* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product {
  width: 45%;
  height: 100px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #ccc;
  text-align: center;
}