@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/resets";

.landing {
  width: 100%;
  height: 800px;

  img {
    width: 100%;
    height: 100%;
  }

  .text_wrapper {
    width: 50%;
    position: relative;
    margin-top: -40%;
    margin-left: 130px;

    h1 {
      text-align: left;
      color: white;
      font-weight: bold;
      line-height: 84px;
      font-size: 56px;

      span {
        color: $primary;
      }
    }

    p {
      color: white;
      font-size: 14px;
      line-height: 36px;
    }
  }
}

.second_section {
  width: 100%;
  height: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  

  .second_section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;

    h2 {
      border-top: 3px solid $primary; 
      border-left: 3px solid $primary;
      padding: 20px;
    }
  }

  .second_section_2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $primary;
    padding: 40px 0;
    border-bottom-left-radius: 2px;

    div {
      height: 32%;
      width: 75%;
      margin: auto;

      h2 {
        color: white;
        font-size: 42;

        span {
          font-size: 70px;
          font-weight: bold;
          line-height: 105px;
          color: rgba(229, 229, 229, 0.3);
        }
      }

      p {
        color: white;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

.third_section {
  margin-top: 150px;

  div {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    hr {
      background-color: $primary;
      height: 1px;
      width: 250px;
    }

    h2 {
      font-weight: bold;
      margin: 0 20px;
      font-size: 30px;

      span {
        color: $primary;
      }
    }
  }

  h4 {
    width: 50%;
    margin: 40px auto;
    color: #9B9B9B;
    font-size: 16px;
    text-align: center;
  }

  .products {
    display: flex;
    justify-content: space-around;

    article {
      padding: 20px;
      margin: 0 30px;

      img {
        width: 400px;
        height: 300px;
        border-radius: 2px;
      }

      h5 {
        margin: 20px 0;
        color: $primary;
        font-weight: bold;
        font-size: 22px;
      }

      p {
        font-size: 14px;
        color: #9B9B9B;
      }
    }
  }
}

.contact_banner {
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2D2D2D;

  h3 {
    color: white;
    font-weight: bold;
    font-size: 40px;
  }

  button {
    background: transparent;
    color: white;
    border: 5px solid white;
    width: 250px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;

    &:hover {
      background-color: white;
      color: $primary;
      transition: 0.5s ease;
      cursor: pointer;
      // font-size: 26px;
    }
  }
}


@media screen and (max-width: 1200px) {
  .landing {
    height: 650px;

    .text_wrapper {
      margin-top: -45%;

      h1 {
        font-size: 44px;
        line-height: 66px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .landing {
    height: 550px;

    .text_wrapper {
      margin-top: -50%;

      h1 {
        font-size: 44px;
      }
    }
  }

  .second_section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .second_section_1 {
      height: 150px;
      display: none;
      
      h2 {
        border-top: none;
        font-size: 20px;
      }
    }

    .second_section_2 {
      height: 800px;
      padding-bottom: 80px;

      div {
        padding: 10px;
        
        p {
          width: 75%;
        }
      }

      div:nth-child(2) {
        text-align: right;

        p {
          float: right;
        }
      }
    }
  }

  .third_section {
    margin-top: 200px;

    div {
      width: 75%;
    }

    h4 {
      width: 65%;
    }

    .products {
      flex-direction: column;

      article {
        margin-top: 40px;

        p {
          width: 65%;
          margin: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .landing {
    .text_wrapper {
      margin-top: -60%;

      h1 {
        font-size: 40px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .landing {
    .text_wrapper {
      margin-top: -70%;
      margin-left: 80px;

      h1 {
        font-size: 32px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}