* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  // border: 2px solid black;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;

  .bar_box {
    background: #000 url(../Static/Images/sheets.jpg);
    background-size: cover;
    color: white;
    height: 500px;
    width: 50%;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 0 30px;

    .color_overlay {
      width: 100%;
      height: 100%;
      background-color: rgb(255, 39, 39);
      opacity: 0.7;
      position: absolute;
    }

    h1 {
      z-index: 3;
      font-weight: bold;
    }

    p {
      z-index: 3;
    }

    button {
      border: 3px solid white;
      background-color: transparent;
      padding: 1px 5px;
      color: white;
      font-weight: bold;
      width: 50px;
      z-index: 3;

      &:hover {
        border: 3px double white;
      }
    }
  }

  .sheet_box {
    background: #000 url(../Static/Images/bars.jpg);
    background-size: cover;
    color: white;
    height: 500px;
    width: 50%;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 0 30px;

    .color_overlay {
      width: 100%;
      height: 100%;
      background-color: rgb(106, 203, 255);
      opacity: 0.9;
      position: absolute;
    }

    h1 {
      z-index: 3;
      font-weight: bold;
    }

    p {
      z-index: 3;
    }

    button {
      border: 3px solid white;
      padding: 1px 5px;
      color: white;
      background-color: transparent;
      font-weight: bold;
      width: 70px;
      z-index: 3;

      &:hover {
        border: 3px double white;
      }
    }
  }
}