* {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.welcome {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;

  .innerText {
    width: 80%;
    height: 90%;
    padding-top: 40px;

    h5 {
      font-weight: bold;
    }

    hr {
      width: 100%;
      height: 5px;
      color: lightgrey;
    }
  }

  span {
    font-weight: bold;
  }
}

.hp_container {
  width: 100%;
  height: 200px;
  background-color: rgb(244, 244, 244);
  display: flex;
  justify-content: center;
  align-items: center;

  .hp_buttons {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  
    section {
      border-radius: 5px;
      color: black;
      padding: 1px 25px;
      background-color: white;
      font-weight: bold;
      transition: color 0.5s ease;
      transition: background-color 0.5s ease;
  
      &:hover {
        background-color: red;
        color: white;
      }

      h3 {
        font-size: 16px;

        span {
          font-size: 30px;
        }
      }
    }
  }
}

