* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card_container {
  background-color: rgb(228, 227, 227);
  
  .container {
    width: 100%;
  
    article {
      background-color: forestgreen;
      height: 300px;
      width: 80%;
      margin: 20px auto;
    }

    article:nth-child(1), article:nth-child(3) {
      margin-left: 50px;
    }

    article:nth-child(2), article:nth-child(4) {
      margin-right: 50px;
    }
  }
}
