* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding-left: 20px;
  background-color: rgb(228, 227, 227);

  h1 {
    text-align: left;
    font-weight: bold;
  }

  hr {
    width: 40%;
    height: 20px;
    color: black;
    text-align: left !important;
  }
}

.card_container {
  padding: 40px;
  width: 100%;

  article:nth-child(1), article:nth-child(3) {
    display: flex;
    flex-direction: row;
  }

  article:nth-child(2), article:nth-child(4) {
    float: right;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
  }

  .stock {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 300px;
    margin: 20px;

    .wording {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }

    img {
      height: 300px;
      width: 40%;
      border-radius: 5px;
    }
  }
}
