@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/resets";

.list_item {
  width: 85%;
  height: 250px;
  margin: 40px auto;
  padding: 10px 20px;

  h3 {
    color: $primary;
    font-size: 32px;
    margin: 10px 0;
  }

  p {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 24px;
  }
}


@media screen and (max-width: 1000px) {
  .list_item {
    height: 350px;
    overflow: scroll;
  }
}

@media screen and (max-width: 700px) {
  .list_item {
    height: 300px;
  }
}