* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accreditation {
  border: 2px solid rgb(225, 225, 225);
  margin: 10px auto;
  border-radius: 5px;
  background-color: white;
  width: 70%;

  &:hover {
    border: 2px solid red;
  }
}