@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/resets";

.contact_intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 500px;
  margin: auto;
  background-color: #FFFAFA;

  h1 {
    width: 40%;
    font-weight: 700;
    font-size: 44px;
    text-align: left;

  span {
    color: $primary;
  }
}

  p {
    width: 40%;
    color: #9B9B9B;
    font-size: 16px;

    span {
      color: $primary;
    }
  }
}

.contact_info_container {
  background-image: url("../Static/Images/grey-splash.png");
  width: 100%;
  height: 750px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .form_wrapper {
    background: rgba(45, 45, 45, 0.7);
    width: 85%;
    height: 90%;
    margin: auto;
    padding: 15px 20px;

    form {
      // border: 2px solid greenyellow;
      height: 100%;
      padding: 10px;

      .names_wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .wrappers {
          display: flex;
          flex-direction: column;

          label {
            color: white;
            margin: 10px 0;
          }

          input {
            width: 90%;
            background-color: transparent;
            color: white;
            border: 1px solid #696969;
            padding: 5px 10px;
          }
        }
      }

      .wrappers {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

          label {
            color: white;
            margin: 10px 0;
          }

          input {
            width: 100%;
            background-color: transparent;
            color: white;
            border: 1px solid #696969;
            padding: 5px 10px;
          }

          textarea {
            background-color: transparent;
            color: white;
            padding: 5px;
            height: 300px;
          }
      }

      input[type=submit] {
        background-color: $primary;
        border: none;
        width: 100%;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 20px 0px;
      }
    }
  }

  .location_info {
    width: 85%;
    height: 90%;
    margin: auto;
    padding: 15px 20px;

    h2 {
      color: #696969;
      font-weight: 700;
      text-align: right;
      font-size: 52px;
      margin-bottom: 20px;

      span {
        color: $primary;
      }
    }

    .map {
      float: right;
      width: 100%;
      height: 270px;
      margin-bottom: 20px;

      iframe {
        width: 100%;
        height: 100%;
        border: none;
      }
    }

    h5 {
      color: white;
      font-weight: 500;
      font-size: 20px;
      text-align: right;
      display: block;
      line-height: 30px;
    }

    .call_info {
      color: white;
      font-weight: 500;
      font-size: 20px;
      text-align: right;
      display: inline;
    }
  }
}