@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/resets";

.footer_container {
  width: 100%;

  .footer {
    width: 100%;
    background-color: #2D2D2D;
    opacity: 0.9;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 20px;
  
  
    img {
      height: 40px;
      margin: auto;
    }
    
    article {
      height: 100%;
      width: 100%;
      padding: 20px 0;
      text-align: center;
  
      p {
        width: 80%;
        color: white;
        margin: 0 auto;
        font-size: 12px;
      }
    }
  
    div {
      width: 50%;
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
  
      a {
        color: white;
        font-size: 18px;
  
        &:hover {
          color: $primary;
          transition: all 0.2s ease-out;
          cursor: pointer;
        }
      }
    }
  }
}


@media screen and (max-width: 900px) {
  .footer {
    p {
      font-size: 12px;
    }
  }
}