* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFAFA;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 40px;
  
    span {
      color: #EE6352;
    }
  }
}

.posts_container {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  article {
    width: 100%;
    padding: 10px;

    span {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 60%;
        height: 150px;
        margin: auto;
      }

      span {
        text-align: center;

        h3 {
          margin: 20px 0;
          font-weight: bold;
          font-size: 22px;
        }
      }
    }
  }
}



// #title {
//   text-align: center;
//   margin: 0 auto;
//   margin-top: 25px;
//   font-weight: bold;
//   // border-bottom: 4px solid red;
//   width: 18%;
//   padding-bottom: 10px;
// }

// hr {
//   width: 10%;
//   margin: auto;
//   height: 5px;
//   color: lightgrey;
// }

// .noticeboard {
//   width: 80%;
//   margin: 30px auto;
//   display: grid;
//   grid-template-columns: 1fr 1fr;

//   .post {
//     border: 2px solid rgb(235, 235, 235);
//     border-radius: 3px;
//     padding: 20px;
//     margin: 20px;
//     height: 200px;
//     width: 500px;
//     text-align: center;
//     overflow: scroll;
//   }
// }