@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/resets";

.button_container {
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    width: 120px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 5px;
    border: 2px solid $primary;
    background-color: transparent;
    color: $primary;
    border-radius: 3px;

    &:hover {
      background-color: $primary;
      color: white;
      transition: all 0.2s ease-out;
      cursor: pointer;
    }
  }
}

.speciality {
  display: flex;
  justify-content: space-around;
  // align-items: center;
  width: 90%;
  margin: 100px auto;

  h2 {
    width: 50%;
    font-weight: 700;
    font-size: 44px;

    span {
    color: $primary;
    }
  }

  div {
    margin-left: 50px;

    article {
      width: 85%;
      height: 250px;
  
      h3 {
        font-weight: bold;
        font-size: 22px;
        margin: 20px 0;
  
        span {
          color: $primary;
        }
      }
      
      p {
        font-weight: lighter;
        color: #9B9B9B;
        font-size: 14px;
      }
  
      ul {
        font-weight: bold;
          color: #9B9B9B;
          font-size: 14px;
        li {
          margin: 10px 0;
          
        }
      }
    }
    p {
      width: 80%;
      color: #9B9B9B;
  
      span {
        color: $primary;
        // font-size: 18px;
      }
    }
  }
}

.additional {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
  // margin-top: 300px;

  article {
    width: 85%;
    margin: 0 20px;
    height: 200px;

    h2 {
      font-weight: bold;
      font-size: 22px;
      margin: 20px 0;

      span {
        color: $primary;
      }
    }
    
    div {
      p {
        font-weight: lighter;
        color: #9B9B9B;
        font-size: 14px;
      }
    }
  }
}

.sheet_container {
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 30px;

  article {
    background-color: #FFFAFA;
    padding: 20px;
    color: rgb(136, 136, 136);
    width: 90%;
    height: 200px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      color: $primary;

      span {
        font-size: 28px;
        color: $primary;
        font-weight: bold;
      }
    }

    h5 {
      margin-top: 15px;
      font-size: 16px;
      font-weight: lighter;
      color: grey;

      span {
        font-size: 18px;
        color: $primary;
      }
    }
  }
}