* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 20px 0;
  text-align: center;
}

.hrs {
  height: 10px;
  width: 40%;
  margin: 10px auto;
}

.first_p {
  width: 40%;
  text-align: center;
  margin: 10px auto;
}

.accreditations {
  width: 75%;
  height: 300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  article {
    height: 30%;
    width: 70%;
    background-color: lightgrey;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 8px;

    &:hover {
      background-color: red;
      cursor: pointer;
      
      p {
        color: white;
      }
    }
  }
}