@import "../../styles/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about_landing {
  width: 100%;

  img {
    width: 100%;
  }

  .text_wrapper {
    width: 50%;
    position: relative;
    margin-top: -50%;
    float: right;
    text-align: right;
    padding-right: 100px;

    h1 {
      text-align: right;
      color: black;
      font-weight: 700;
      line-height: 74px;
      font-size: 56px;

      span {
        color: #EE6352;
      }
    }

    p {
      color: black;
      font-size: 14px;
      line-height: 36px;
    }
  }
}

.mission {
  width: 75%;
  margin: auto;

  h2 {
    width: 60%;
    margin: 100px auto;
    padding: 10px;
    border-left: 3px solid #EE6352;
  }
}

.people {
  margin-top: 200px;
  width: 100%;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;

    h2 {
      width: 45%;
      font-weight: 700;
      font-size: 44px;

    span {
      color: #EE6352;
    }
  }

    p {
      width: 45%;
      color: #9B9B9B;
    }
  }

  .bios {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;

    article {
      width: 30%;
      height: 500px;

      img {
        width: 100%;
        height: 300px;
      }

      h3 {
        font-weight: bold;
        font-size: 22px;
        margin: 20px 0;
      }
      
      h5 {
        font-weight: lighter;
        color: #EE6352;
        font-size: 16px;
      }
    }
  }
}
// .about_container {
//   width: 100%;

//   .about_intro {
//     width: 60%;
//     height: 300px;
//     padding: 50px;
//     text-align: center;
//     margin: 50px auto;
//   }

//   .about_images {
//     height: 350px;
//     width: 80%;
//     margin: 50px auto;
//     // border: 2px solid black;
//     border-radius: 10px;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     box-shadow: 0px 1px 12px 0px rgb(183, 141, 141)
//     ;

//     div {
//       width: 25%;
//       height: 70%;
//       text-align: center;

//       img {
//         height: 65%;
//         width: 80%;
//         border-radius: 10px;
//       }

//       h3 {
//         margin: 20px 0;
//       }
//     }
//   }

//   .about_header {
//     width: 60%;
//     text-align: center;
//     margin: 200px auto;

//     h2 {
//       width: 70%;
//       margin: 40px auto;
//       font-size: 40px;
//     }
//   }

//   .about_items {
//     width: 90%;
//     margin: 50px auto;
//     padding: 20px;
//     // border: 2px solid black;
//     display: grid;
//     gap: 50px;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-rows: 1fr 1fr;
//   }
// }