@import "../../styles/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about_container {
  width: 100%;

  .about_intro {
    width: 60%;
    height: 300px;
    padding: 50px;
    text-align: center;
    margin: 50px auto;
  }

  .about_images {
    height: 350px;
    width: 80%;
    margin: 50px auto;
    // border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 12px 0px rgb(183, 141, 141)
    ;

    div {
      width: 25%;
      height: 70%;
      text-align: center;

      img {
        height: 65%;
        width: 80%;
        border-radius: 10px;
      }

      h3 {
        margin: 20px 0;
      }
    }
  }

  .about_header {
    width: 60%;
    text-align: center;
    margin: 200px auto;

    h2 {
      width: 70%;
      margin: 40px auto;
      font-size: 40px;
    }
  }

  .about_items {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    // border: 2px solid black;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}