* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 880px;
  width: 100%;
  // background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  article {
    width: 100%;
    height: 440px;
    // border: 2px solid black;
  }

  article:nth-child(1), article:nth-child(4) {
    padding: 50px;
  }

  article:nth-child(2), article:nth-child(3) {
    img {
      width: 100%;
      height: 100%;
    }
  }
}